<package-def>
	<class name="Игра" file="src/Классы/Игра.os"/>
	<class name="Графика" file="src/Классы/Графика.os"/>
	<class name="ИгровойОбъект" file="src/Классы/ИгровойОбъект.os"/>
	<class name="Анимация" file="src/Классы/Анимация.os"/>
	<class name="Физика" file="src/Классы/Физика.os"/>
	<class name="Вектор" file="src/Классы/Вектор.os"/>
	<class name="ОтложеныеИгровыеСобытия" file="src/Классы/ОтложеныеИгровыеСобытия.os"/>
	<class name="ОбработчикВвода" file="src/Классы/ОбработчикВвода.os"/>
	<class name="ПодпискиНаИгровойЦикл" file="src/Классы/ПодпискиНаИгровойЦикл.os"/>
	<class name="ИгровыеОбъекты" file="src/Классы/ИгровыеОбъекты.os"/>
	
	<module name="ОдноДвиж" file="src/Модули/ОдноДвиж.os"/>
</package-def>